.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/eslint.config.cjs
**/*.map
**/*.ts
**/.vscode-test.*
.superpowers/**
docs/**
CLAUDE.md
